#!/bin/bash
set -e
export AKS_LOCATION=uks
export AKS_OWNER=ml
export AKS_ENVIRONMENT=prd
export AKS_CLUSTER=aks-${AKS_OWNER}-${AKS_LOCATION}-${AKS_ENVIRONMENT}
export AKS_CLUSTER_GROUP=rg-aks-${AKS_OWNER}-${AKS_ENVIRONMENT}
export AKS_CLUSTER_NODES_GROUP=rg-${AKS_CLUSTER}-nodes
# Kubernetes
export KUBECONFIG=${PWD}/.kubeconfig
test -f "${KUBECONFIG}" && rm "${KUBECONFIG}"
az aks get-credentials --admin --resource-group ${AKS_CLUSTER_GROUP} --name ${AKS_CLUSTER} --file ${KUBECONFIG}
export AKS_CLUSTERCONTEXT=aks-${AKS_OWNER}-${AKS_LOCATION}-${AKS_ENVIRONMENT}-admin
kubectl config set current-context "${AKS_CLUSTERCONTEXT}"
