apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
patches:
- patch: |
    apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: all
      annotations:
        azure.workload.identity/client-id: 60aeee65-3bad-4416-90b6-3fe8c002bbc2
        azure.workload.identity/tenant-id: 5065c9ac-40a7-4f0b-9284-a95db9cdaab7
  target:
    kind: ServiceAccount
    name: "(kustomize-controller)"
- patch: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: all
      labels:
        azure.workload.identity/use: "true"
    spec:
      template:
        metadata:
          labels:
            azure.workload.identity/use: "true"
  target:
    kind: Deployment
    name: "(kustomize-controller)"
- patch: |
    apiVersion: kustomize.toolkit.fluxcd.io/v1
    kind: Kustomization
    metadata:
      name: all
    spec:

      # Replace Flux bootstrap path clusters/prd to enable watching
      # clusters/prd/flux-system/kustomizations/
      # for additional Flux Kustomizations without overlapping paths.
      # See https://github.com/fluxcd/flux2/discussions/3801#discussioncomment-5623918
      path: ./clusters/prd/flux-system

      decryption:
        provider: sops
        #secretRef:
        #  name: sops-aks-key # prefer .sops.yaml
  target:
    kind: Kustomization
